<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.formaloo.eventApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk tools:overrideLibrary="com.microsoft.appcenter,com.microsoft.appcenter.analytics,com.microsoft.appcenter.crashes,androidx.camera.camera2,
     androidx.camera.core,
        androidx.camera.view, androidx.camera.lifecycle" />

<!--    <uses-feature android:name="android.hardware.camera" />-->

<!--    <uses-permission android:name="android.permission.CAMERA" />-->

    <application
        android:name="com.formaloo.eventApp.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningApp"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTYI186DHNQaOOHu1vGjJTA8TPyiSHZqw" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.formaloo.eventApp.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name="com.formaloo.home.HomeActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
